* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f9fafb;
}

header svg {
  position: absolute;
  top: 0;
}

.headerContent {
  position: relative;
  max-width: 1024px;
  margin: 0 auto;
  padding-top: 32px;
  background-color: #1a73e8;
}

header h1 {
  font-size: 48px;
  font-family: Montserrat, Helvetica, sans-serif;
  color: #fff;
}

header p {
  margin-top: 16px;
  font-size: 20px;
  font-family: Nunito, Helvetica, sans-serif;
  color: #fff;
}

main {
  max-width: 1024px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 128px;
}

.projectList ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.projectList ul li a {
  text-decoration: none;
}

.projectListItem {
  display: flex;
  padding: 16px;
  margin-top: 16px;
  background: #fff;
  border-radius: 8px;
  -webkit-box-shadow: 5px 6px 10px 0px rgba(0, 0, 0, 0.36);
  -moz-box-shadow: 5px 6px 10px 0px rgba(0, 0, 0, 0.36);
  box-shadow: 5px 6px 10px 0px rgba(0, 0, 0, 0.36);
}

.projectListItem img {
  width: 45%;
}

.projectListItemContent {
  flex: 1;
}

.projectListItemContent h3 {
  font-size: 28px;
  font-family: Montserrat, Helvetica, sans-serif;
  color: #1a73e8;
}

.projectListItemContent p {
  margin-top: 8px;
  font-size: 16px;
  font-family: Nunito, Arial, sans-serif;
  color: #000;
}
