* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f9fafb;
}

.headerBackground {
  background-color: #1a73e8;
}

.headerContent {
  position: relative;
  max-width: 1024px;
  margin: 0 auto;
  padding: 32px;
}

header h1 {
  font-size: 52px;
  font-family: Montserrat, Helvetica, sans-serif;
  color: #fff;
  margin-bottom: 32px;
}

header p {
  margin-top: 16px;
  font-size: 20px;
  font-family: Nunito, Helvetica, sans-serif;
  color: #fff;
  line-height: 1.4rem;
}

@media only screen and (min-width: 768px) {
  header svg {
    margin-top: -36px;
  }
}

@media only screen and (min-width: 1024px) {
  header svg {
    margin-top: -5rem;
  }
}

header .me {
  display: flex;
  margin-top: 32px;
  align-items: center;
}

header .me img {
  height: 64px;
  width: 64px;
  border-radius: 32px;
}

header .me h2 {
  font-family: Nunito, Helvetica, sans-serif;
  color: #fff;
  margin-left: 16px;
}

main {
  max-width: 1024px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.projectGrid {
  display: grid;
  grid-template-columns: auto;
  padding: 0 16px 32px;
  row-gap: 16px;
}

@media only screen and (min-width: 768px) {
  .projectGrid {
    grid-template-columns: auto auto;
    row-gap: 32px;
    column-gap: 32px;
  }
}

.projectGrid a {
  text-decoration: none;
}

.projectListItem {
  display: flex;
  padding: 16px;
  background: #fff;
  border-radius: 8px;
  -webkit-box-shadow: 5px 6px 10px 0px rgba(0, 0, 0, 0.36);
  -moz-box-shadow: 5px 6px 10px 0px rgba(0, 0, 0, 0.36);
  box-shadow: 5px 6px 10px 0px rgba(0, 0, 0, 0.36);
}

.projectListItem img {
  width: 45%;
  object-fit: contain;
}

.projectListItemContent {
  flex: 1;
}

.projectListItemContent h3 {
  font-size: 28px;
  font-family: Montserrat, Helvetica, sans-serif;
  color: #1a73e8;
}

.projectListItemContent p {
  margin-top: 8px;
  font-size: 16px;
  font-family: Nunito, Arial, sans-serif;
  color: #000;
}
